{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h3>CGU</h3>
    <p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan mi lacus. Cras eget facilisis leo. Vivamus diam risus, sollicitudin sit amet iaculis eu, dignissim ut mauris. Suspendisse potenti. Donec mollis justo a lacus consectetur, id luctus nunc aliquam. Praesent sit amet mollis lacus. Vivamus ornare nisi mi, at ultricies nisl egestas quis. Sed ultrices ut ligula non ultrices. Fusce sed tincidunt sem, quis tempus eros. Nam sollicitudin aliquam finibus. Cras sed lorem lacus. Sed nec fringilla metus.

Cras eros erat, volutpat eu enim vitae, pellentesque auctor nibh. Fusce eget bibendum tellus. Sed malesuada tortor ac leo scelerisque ornare. Sed sed justo blandit augue vulputate molestie id eget erat. Etiam fermentum ligula in hendrerit facilisis. In elementum a felis id dapibus. Aliquam porta dolor eu augue scelerisque fringilla. Ut eros justo, varius sagittis magna vitae, porta luctus tortor.

In venenatis ultrices velit id malesuada. Suspendisse potenti. Cras a ultrices lorem, vel tempus ex. Duis volutpat elit et lorem scelerisque, et consectetur nulla vestibulum. Cras vel quam est. Vivamus lacinia egestas mauris id placerat. Vivamus convallis, ipsum sed porta suscipit, sapien turpis aliquam nisi, vel malesuada libero magna tincidunt nisi. Aliquam laoreet sagittis mauris, nec vestibulum ex molestie ultricies. Nullam porta dui ut sem pulvinar volutpat.

Aenean cursus urna sapien, vel consequat tellus finibus vitae. Praesent sapien lacus, pretium nec hendrerit non, bibendum dignissim justo. Nulla at nibh at justo semper pulvinar. Curabitur facilisis, sem ac condimentum elementum, odio nibh vulputate dolor, non scelerisque felis libero blandit tellus. Duis consectetur quam volutpat eros maximus, ut pellentesque lorem hendrerit. Donec finibus, urna sit amet tincidunt volutpat, justo massa tincidunt est, a sagittis ligula turpis id diam. In bibendum neque massa, sit amet ultrices ex ornare ac. Maecenas id tempus libero. Pellentesque metus nunc, vehicula faucibus elit eu, commodo aliquam felis. Vestibulum ullamcorper aliquam felis, ut lacinia nisl tincidunt vitae. Nullam sed justo laoreet, tincidunt justo ac, dignissim eros. Nam vitae tristique leo. Maecenas interdum efficitur est. Nulla scelerisque urna vel augue mollis, sed accumsan diam viverra.

Aliquam tristique leo tincidunt sagittis gravida. Praesent fringilla molestie arcu, et ultricies eros vehicula sit amet. Ut consectetur, mauris eget euismod placerat, augue sapien semper nisi, in lacinia nulla ex et arcu. In vehicula gravida libero, tincidunt interdum leo fermentum et. Etiam et magna a risus rutrum luctus at in eros. Quisque efficitur semper magna in convallis. Sed ultricies dolor id nulla tincidunt interdum. Suspendisse efficitur mattis sapien quis faucibus. Pellentesque vel ipsum vestibulum, dapibus velit non, euismod neque. Ut viverra at lacus eget consectetur. Curabitur ultricies ultrices euismod. Pellentesque tincidunt pulvinar mi eget tincidunt. Proin vulputate velit at magna tempus, sit amet tempor mauris elementum. Vivamus commodo pellentesque tortor vel maximus. </p>
</div>
{% endblock %}
